
<div class="box tabular">
	<p><%= f.text_field :name, :required =>true, :size=>60 %></p>
	<p><%= f.text_area :address, :rows=>5, :required => true, :size=>60 %></p>
	<p><%= f.text_field :city, :size=>60 %></p>
</div>
